<div class="row">
    <div class="col form_component">        
        <div class="row">
            <div class="col-sm-6">
                <div class="form_component_title">{{'form_component_brokers_title'|trans|raw}}</div>
            </div>
            <div class="col-sm-6">
            {% if edit_state %}
                <a class="form_component_link" href="broker_newBroker" title="{{'form_component_newBroker'|trans|raw}}">
                <i class="fas fa-plus page_icon"></i>
                </a>
            {% endif %}
            </div>
        </div>

    {% if brokers %}        
    <ul>
        {% for broker in brokers %}
            <li>{{broker.name}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="form_component_no_records">{{'form_component_no_records'|trans|raw}}</div>
    {% endif %}
</div>        
</div>           