<div class="row">
    <div class="col form_component">        
        <div class="row">
            <div class="col-sm-6">
                <div class="form_component_title">{{'form_component_suppliers_title'|trans|raw}}</div>
            </div>
            <div class="col-sm-6">
                <a class="form_component_link" href="broker_newSupplier" title="{{'form_component_newSupplier'|trans|raw}}">
                <i class="fas fa-plus page_icon"></i>
                </a>
            </div>
        </div>

    {% if suppliers %}        
    <ul>
        {% for supplier in suppliers %}
            <li>{{supplier.name}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="form_component_no_records">{{'form_component_no_records'|trans|raw}}</div>
    {% endif %}
</div>        
</div>           