// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$lato-font-path: '~lato-font/fonts';

@import "~bootswatch/flatly/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/flatly/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";
@import "~highlight.js/styles/solarized-light.css";

// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

/* Basic styles
   ------------------------------------------------------------------------- */
html{ 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:darkgreen;  
  //overflow:scroll;
  margin:auto;
  height: auto;
  // min-height:650px;
} 

p, ul, ol {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  margin-bottom: 1.5em
}

li {
  margin-bottom: 0.5em
}

code {
  background: #ecf0f1;
  color: #2c3e50
}

.text-danger, .text-danger:hover {
  color: #e74c3c
}

i {
  margin-right: 0.25em
}

.dashboard{
margin:0;
padding:0;
}

.dashboard_icon{
  border:none;
  font-size:10pt;
}

.page_icon{
  border:none;
  color:black;
  font-size:12pt;
}

.copyright{
  font-size:14px;
  font-weight: bold;
}

.dashboard_title{
  font-size:14pt;
  font-weight: bold;
  padding:0;
  margin:10px 0 10px 0;
}

.dashboard_jumbotron{
  padding:10px;
  margin:0 0 20px 0;
  min-height:220px;
  background-color:white;
  border:solid black 1px;
}

.jumbotron_title{
  padding-top:20px;
}

.jumbotron_link{
  margin:auto;
}

.btn,
.btn-primary,
.btn-primary:hover
{
  background-color: transparent;
  border: darkgreen solid 1px;
  color:darkgreen;
}


.portal_jumbotron{
  padding:0;
  margin:20px 0 0 0;
  background-color:aliceblue;
  border:darkgreen solid 2pt;
  height:200px;
  box-shadow: 2px 2px 5px;
}

.jumbotron{
  border:solid black 1px;
  padding:0;
  margin:20px 0 0 0;
  background-color:white;
  height:200px;
}

.index_page_table{
  padding:0;
  margin-bottom:10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  border:solid black 1px;
}

.page_title{
  display: inline;
  //color:black;  
}

.page_form_heading{
  font-size:18pt;
  font-weight: bold;
  margin:0 0 20px 0;
  padding:0;
}

.page_form_header{
  padding:0;
  margin:0 0 20px 0;
  border-bottom: solid gray 1px;
}

.return_to_list_label{ 
  display: inline;
  float:right;
  padding:0;
  margin:0;
}

.no_records_found{
  text-align: center;
  padding-top:120px;
  font-weight: bold;
  font-size:12pt;
}

.no_dashboard_records_found{
  text-align: center;
  padding:20px;
  color:red;
  font-size:12px;
  font-weight: bold;
}

.delete_form{
  border:white solid 0px;
  width:0;
  height:0;
  padding:0;
  margin:0 20px 0 50px;
}

.dashboard_table{
  border-spacing: 0;
  width:100%;
  padding:0;
  margin:0;
  font-size: 10pt;
  background-color: white;
  overflow-y: scroll;
  height:150px;
  min-height: min-content;
  max-height:max-content;
}

.mail_link{
  color:darkgreen;
}

.table{
  width:100%;
  padding:0;
  margin:0;  
  color:black;
}

.caption{
  color:darkgreen;
  font-weight:bold;
}
 
.table > thead > tr > th{
  padding:0 0 10px 0;
  margin:0;
  align-content: flex-start;
  text-align: left;
}

 .table > tbody > tr:nth-child(even){
  background:rgb(198, 241, 198);
} 

.table > tbody > tr > td{
  padding:0 0 5px 0;
  //  0 2px 0;
  margin:0;
  color:black;
  align-content: flex-start;
  text-align: left;
  vertical-align: middle;
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
  vertical-align: middle;
}

tbody,
tr,
td{
  margin:0;
  padding:0;
} 

.doclink {
    color: inherit
}

/* Utilities
   ------------------------------------------------------------------------- */
.m-b-0 { margin-bottom: 0 }

.paginator_row{
  vertical-align: bottom;
  height: 200px;
}

/* Page elements
   ------------------------------------------------------------------------- */
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  margin:auto;
  color:darkgreen;
  min-height: 650px;
  min-height: auto;
  height: auto; 

}

.show_contact_form{
  width:300px;
  height:300px;
  font-size:10px;
}

header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 2em
}

header ul.nav li {
  margin-bottom: 0
}

header .locales {
  min-width: 190px;
}

header .locales a {
  color: #212529;
  padding: 3px 15px;
}

header .locales a small {
  border-radius: 4px;
  border: 2px solid #dee2e6;
  color: #7b8a8b;
  float: left;
  font-size: 12px;
  line-height: 1.1;
  margin: 2px 10px 0 0;
  min-width: 26px;
  padding: 0px 3px;
  text-align: center;
  text-transform: uppercase;
}

header .locales .active small,
header .locales a:hover small {
  color: inherit;
}

.delete_link{ 
  background:none!important;
  border:none;
  padding:0!important;
  color:white;
  text-decoration:none;
}

.action_column{
  display: inline;
  padding:0;
  margin:0;
  float:right;
}

.action_icon{
  font-size:1.15em;
  color:black;
}

.container{
  margin:auto
}

.navbar-default {
  background-color:darkgreen;
  border-bottom:solid 1px black;
}

.form_div{
  margin:0;
  padding:0;
  overflow-y: scroll;
  height:350px;
}

.form_component{
  display:block;
  max-height:300px; 
  padding:10px 0 0 20px; 
  border:1px solid darkgreen;
  margin:5px 20px 0 20px;
}

.form_component_table{
  margin: 10px 0 0 0;
  font-size: 10pt;
  color:darkgreen;
  width:100%;
}
.form_component_container{
  overflow-y:scroll; 
  overflow-x:hidden;
  max-height:200px;
}

.form_button{
  margin-top:20px;
}

.body-container {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex: 1;
  /* needed to prevent pages with a very small height and browsers not supporting flex */
  min-height: 450px;
  max-height: 450px;
  height: auto;
  margin:0 auto;
  padding:0;
}

.body-container #main h1, .body-container #main h2 {
  margin: auto;
  padding:0;
}

#sidebar .section {
  margin-bottom: 2em
}

#sidebar p {
  font-size: 15px
}

#sidebar p + p {
  margin: 1.5em 0 0
}

.sticky_footer{
  flex-shrink: none;
}

footer {
  position: fixed; 
  bottom: 0;  
  width:auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-top:solid black 1px;
  margin:0;
  padding:10px 0 10px 0;
  color:darkgreen;
}

footer p {
  font-size: 13px;
}

footer #footer-resources {
  text-align: right
}

footer #footer-resources i {
  font-size: 18px;
  margin-left: 0.5em;
}

#sourceCodeModal h3 {
  font-size: 19px;
  margin-top: 0
}

#sourceCodeModal h3 small {
  color: #7b8a8b;
  font-size: 80%
}

#sourceCodeModal pre {
  margin-bottom: 2em;
  padding: 0
}

#confirmationModal .modal-dialog {
  width: 500px
}

#confirmationModal .modal-footer button {
  min-width: 75px
}

/* Misc. elements
   ------------------------------------------------------------------------- */
.section.rss a {
  color: #f39c12;
  font-size: 21px;
}

/* Forms
   ------------------------------------------------------------------------- */
form{
  padding:20px;
}

.form_component_title{
  font-size:10pt;
  font-weight: bold;  
}

.form_component_no_records{
  margin:30px 0 0 0;
  font-size:10pt;
  font-weight: bold;
  text-align:center;
}
.form_component_link{
  float:right;
  font-size:10px;
  margin:0;
  padding:0;
}

delete_form{
  font-size:10px;
  border:none;
  padding:0;
  margin:0;
}

.form-control{
  border: black solid 1px;
}

.form-group.has-error .form-control {
  border-color: #e74c3c
}

.form-group.has-error .control-label {
  color: #e74c3c
}

.form-group.has-error .help-block {
  background-color: #e74c3c;
  color: #fff;
  font-size: 15px;
  padding: 1em
}

.form-group.has-error .help-block ul,
.form-group.has-error .help-block li {
  margin-bottom: 0
}
.form-group.has-error .help-block li + li {
  margin-top: 0.5em;
}

textarea {
  max-width: 100%
}

/* Page: 'Technical Requirements Checker'
   ------------------------------------------------------------------------- */
body#requirements_checker header h1 {
  margin-bottom: 0;
  margin-top: 0
}

body#requirements_checker header h1 span {
  font-size: 120%;
  opacity: 0.7;
  padding: 0 5px
}

body#requirements_checker .panel li {
  margin-bottom: 1em
}

/* Page: 'Homepage'
   ------------------------------------------------------------------------- */
body#homepage {
  text-align: center;
  margin:auto;
}

/* Page: 'Login'
   ------------------------------------------------------------------------- */
body#login #login-users-help p {
  font-size: 15px;
  line-height: 1.42857
}

body#login #login-users-help p:last-child {
  margin-bottom: 0
}

body#login #login-users-help p .label {
  margin-right: 5px
}

body#login #login-users-help p .console {
  display: block;
  margin: 5px 0;
  padding: 10px
}

/* Common Blog page elements
   ------------------------------------------------------------------------- */
.post-metadata {
  color: #b4bcc2;
  font-size: 19px;
  margin-bottom: 16px;
}
.post-metadata .metadata {
  margin-right: 1.5em;
}

.post-tags .label {
  margin-right: 5px;
}

/* Page: 'Blog index'
   ------------------------------------------------------------------------- */
body#blog_index #main h1,
body#blog_index #main p {
  margin-bottom: 0.5em
}

body#blog_index article.post {
  margin-bottom: 3em;
}

body#blog_index .post-metadata {
  font-size: 16px;
  margin-bottom: 8px;
}

body#blog_index .post-tags .label-default {
  background-color: #e9ecec;
  color: #6d8283;
}
body#blog_index .post-tags .label-default i {
  color: #a3b2b2;
}

/* Page: 'Blog post show'
   ------------------------------------------------------------------------- */
body#blog_post_show #main h3 {
  margin-bottom: 0.75em
}

body#blog_post_show .post-tags .label-default {
  background-color: #e9ecec;
  color: #6D8283;
  font-size: 16px;
  margin-right: 10px;
  padding: .4em 1em .5em;
}

body#blog_post_show .post-tags .label-default i {
  color: #95A6A7;
}

body#blog_post_show #post-add-comment {
  margin: 2em 0
}

body#blog_post_show #post-add-comment p {
  margin-bottom: 0
}

body#blog_post_show #post-add-comment p a.btn {
  margin-right: 0.5em
}

body#blog_post_show .post-comment {
  margin-bottom: 2em
}

body#blog_post_show .post-comment h4 {
  font-size: 13px;
  line-height: 1.42857;
  margin-top: 0
}

body#blog_post_show .post-comment h4 strong {
  display: block
}

/* Page: 'Comment form error'
   ------------------------------------------------------------------------- */
body#comment_form_error h1.text-danger {
  margin-bottom: 1em
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 98%;
  }
}

/* Page: 'Blog search'
   ------------------------------------------------------------------------- */
body#blog_search #main h1,
body#blog_search #main p {
  margin-bottom: 0.5em
}

body#blog_search article.post:first-child {
  margin-top: 2em;
}

body#blog_search article.post {
  margin-bottom: 2em;
}

body#blog_search .post-metadata {
  font-size: 16px;
  margin-bottom: 8px;
}

a {
  color:black;
  text-decoration: none;
}