<div class="row">
    <div class="form_component">
        <div class="row">
            <div class="col-sm-6">
                <h4>Customers</h4>
            </div>
            <div class="col-sm-6">
                <div class="btn btn-outline">New customer</div>
            </div>
        </div>

    {% if customers %}        
    <ul>
        {% for customer in customers %}
            <li>{{customer.name}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No customers found</p>
    {% endif %}
</div>
</div>