<div class="row">
    <div class="col form_component">        
        <div class="row">
            <div class="col-sm-6">
                <h4>Messages</h4>
            </div>
            <div class="col-sm-6">
                <div class="btn btn-outline">New message</div>
            </div>
        </div>

    {% if messages %}        
    <ul>
        {% for message in messages %}
            <li>{{message.details}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No messages found</p>
    {% endif %}
</div>
</div>