<div class="row">
    <div class="col form_component">
        <div class="row">
            <div class="col-sm-6">
                <h4>Notes</h4>
            </div>
            <div class="col-sm-6">
                <div class="btn btn-outline">New Note</div>
            </div>
        </div>

    {% if notes %}        
    <ul>
        {% for note in notes %}
            <li>{{note.details}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No notes found</p>
    {% endif %}
</div>
</div>