{# <div class="form_div">
    <div class="row">
        <div class="col form_component">  #}       
            <div class="row">
                <div class="col-sm-6">
                    <div class="form_component_title">{{'new_specification'|trans|raw}}</div>
                </div>
                <div class="col-sm-6">
                    <a class="form_component_link" href="{{ path('specification_new',{ id: product.id }) }}" title="{{'form_component_newMessage'|trans|raw}}">
                    <i class="fas fa-plus page_icon"></i>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12"> 
                kkkkkkkkkkkk
                    {{ include ('product/_form.html.twig') }}
                </div>
            </div>

 {#        </div>
    </div>
</div> #}