<div class="caption">Suppliers</div>
    <table width="100%" border="0">
            <tbody>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table> 
